<p>  HOLAAA</p>

<!-- <button mat-fab color="primary"> Add </button>
<br>


<table class="table" mat-table [dataSource]="listCategories">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description/th>
    </tr>
  </thead>
  <tbody *ngfor = "let item for listCategories">
    <tr>
      <td >{{item.ID}}</td>
      <td>{{item.name}}</td>
      <td>{{item.name}}</td>
      <td>{{item.Description}}</td>
      <td>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-raised-button> Update </button>
      </td>
    </tr>
  </tbody>
</table> -->

