<div class="container-md">
  <button class= "buttons" type = "button" mat-raised-button color="accent" (click)="add()" (click)="openForm()" > Add new </button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"> Options</th>
    </tr>
  </thead>
  <tbody *ngFor = "let item of listCategories;">
    <tr>
      <td scope = "row">{{item.CategoryID}}</td>
      <td>{{item.CategoryName}}</td>
      <td>{{item.Description}}</td>
      <td>
        <button class= "buttons"  mat-fab color="accent" (click)="deleteCategory(item)" > <i class="bi bi-trash">Delete</i></button>
        <button class= "buttons" mat-raised-button color="accent" (click)="edit(item)" (click)="openForm()" > Update </button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="show">
<app-form-c [category]="category" [react]= "react"></app-form-c>

</div>
</div>


