<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Welcome</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Please, choose the Api you want to go to. </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" [routerLink]="['/northwind']" >Northwind's Api</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Harry Potter's Api</button>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
  </div>
</div>

<a class="nav-link" [routerLink]="['/northwind']"  ><h2> Api Northwind</h2></a>


<div>
  <button mat-fab color="primary"> Update </button>
<br>


<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody *ngfor = "let item for listCategories">
    <tr>
      <td >{{item.ID}}</td>
      <td>{{item.name}}</td>
      <td>{{item.Description}}</td>
      <td>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-raised-button> Update </button>
      </td>
    </tr>
  </tbody>
</table> -->

</div>


<router-outlet></router-outlet>
