<div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"> Options</th>
    </tr>
  </thead>
  <tbody *ngFor = "let item of listCategories; let i = index">
    <tr>
      <td scope = "row">{{item.ID}}</td>
      <td>{{item.CategoryName}}</td>
      <td>{{item.Description}}</td>
      <td>
        <button mat-raised-button color="accent"> Delete </button>
        <a href="form" mat-raised-button color="accent" (click)="edit(i)"> Update </a>
      </td>
    </tr>

  </tbody>
</table>
</div>
